<div class="container  "
        style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 150px; margin-bottom:150px">

        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{else}}
        {{/if}}
        {{>_msg}}