 <footer id="footer" class="footer position-relative" style="bottom: 0 !important;">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">TARGET  <img src="/assets/img/ipiz.png" alt="" srcset=""></span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Mais Links</h4>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#servico">Serviços</a></li>
            <li><a href="#contato">Contato</a></li>
            <li><a href="#">Termos e serviços</a></li>
            <li><a href="#">Politica e Privacidade</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Outros Sistemas</h4>
          <ul>
            <li><a href="#">Site Oficial</a></li>
            <li><a href="#">Portal do Aluno</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactar-nos</h4>
          <p>A108 Adam Street</p>
          <p>Luanda, NY 535022</p>
          <p>Viana Zango</p>
          <p class="mt-4"><strong>Telefone:</strong> <span>+244 926 283 434</span></p>
          <p><strong>Email:</strong> <span>visiontec@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="sitename">TARGET</strong> <span>Todos os serviços Reservados</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Criado por <a href="https://www.linkedin.com/in/d%C3%A9lcio-manico-b74115249/">Vision Tec</a>
      </div>
    </div>

  </footer>