
{{>_container}}
<h3 class="mb-4">Meus Dados</h3>

<div class="card">
    <div class="card-body">

        <form action="/usuario/perfil/password/edit" method="post">
            <div class="form-group">
              <label for="">Senha Actual</label>
              <input type="password" class="form-control" name="senha" id="" placeholder="*******">
            </div>
            <div class="form-group">
              <label for="">Nova Senha</label>
              <input type="password" class="form-control" name="senha1" id="nova" placeholder="********" oninput="verif()">
            </div>
            <div class="form-group">
              <label for="">Confirmar Nova Senha</label>
              <input type="password" class="form-control" name="senha2" id="nova2" placeholder="*******" oninput="verif()">
              <p id="alerta" style="color: brown; width: 100%;"></p>
            </div>
        
            <button class="btn  mt-4" style="background-color: #2cb34e; color: #fff;">Alterar</button>
        </form>
    </div>
</div>
<script defer>
  var nova = document.getElementById('nova');
  var nova2 = document.getElementById('nova2');
  var alerta = document.getElementById('alerta');
  function verif()
  {
    if(nova.value != nova2.value)
    {
        alerta.innerHTML = "As nova senha e a senha  de <br>confirmacao devem ser iguais";
    }else{
        alerta.innerHTML = '';
    }
  }
</script>