{{>_container}}

<h3 class="mb-4">Login:</h3>
<div class="card" >
    <div class="card-body">
        <form action="/usuario/login" method="post">
            <label for="">Email:</label>
            <input type="email" name="email" id="" placeholder="Seu email" class="form-control">
            <label for="">Senha:</label>
            <input type="password" name="senha" id="" placeholder="Sua senha" class="form-control">

            <input type="submit" value="Entrar" class="btn  mt-4 " style="background-color: #2cb34e; color: #fff;"><br>
            <a href="#" style="color: blue; font-size: 0.7em;" >Recuperar conta.</a>
            <p class="text-center ">Ou</p>
            <input  value="Com a Google" class="btn " style="background-color: #e7e7e7; color: #2cb34e; width: 100%;"><br>
        </form>
    </div>
</div>
